#מתג במקום לחצן

מתג הוספה לרשימה

הוסף/הסר אתר נוכחי מהרשימה
מתג הוספת אתר נוכחי לרשימה

הוסף/הסר אתר נוכחי
Alt+N :מהרשימה או עם

הוסף/הסר אתר נוכחי
Alt+N :מהרשימה, מקש קיצור

הפעל/כבה את התוסף
Alt+N :או עם

הפעל/כבה את התוסף
Alt+N :מקש קיצור

"לחץ לשינוי "מקש קיצור

#ייכתב בדף שינוי מקש קיצור של התוספים בכרום
החלף בין ערכות נושא

#ייכתב בתוך התוסף
"החלף/ערוך ערכות נושא עם "כלי הפיתוח

#להקפיץ הודעה למשתמש להזכיר לו לפתוח את דף העזרה בפרט למשתמש חדש
